---

---

<div>
  <a
    href="https://adeton.io"
    target="_blank"
    rel="noopener noreferrer"
    class="flex flex-col border rounded-xl md:w-10rem dark:border-neutral-700/50 overflow-hidden"
  >
    <div class="p-3">
      <img src="/adeton-icon.svg" width="40" alt="Adeton" />
    </div>
    <div
      class="border-t dark:border-green-700/10 bg-stone-100 dark:bg-green-700/10 p-3 rounded-b-xl"
    >
      <p class="text-sm">
        Create an online shop with{" "}
        <span class="bg-green-500/10 text-green-500 px-1 rounded-lg">
          Adeton
        </span>
      </p>
      <p class="text-secondary mt-1 text-xs">
        Build and customize your own site now.
      </p>
    </div>
  </a>
</div>
