---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {}
---

<button
  class:list={[
    "bg-blue-600 text-white px-4 py-2 rounded-lg flex items-center gap-2",
    Astro.props.class,
  ]}
  {...Astro.props}
>
  <slot />
</button>
