---

---

<section
  class="mt-8 animate-fade-in animate-delay-600 animate-forwards opacity-0"
>
  <h1 class="animate-fade-in animate-delay-650 animate-forwards opacity-0">
    Connect
  </h1>
  <p
    class="mt-8 text-sm animate-fade-in animate-delay-700 animate-forwards opacity-0"
  >
    Reach me <a
      href="https://x.com/StatmanAartt"
      target="_blank"
      rel="noopener noreferrer"
      class="underline">@StatmanAartt</a
    >
    or <a href="mailto:me@eben.sh" class="underline">me@eben.sh</a>
  </p>
</section>
