---
import Anchor from "./Anchor.astro";
---

<section
  class="mt-8 animate-fade-in animate-delay-600 animate-forwards opacity-0"
>
  <h1 class="animate-fade-in animate-delay-650 animate-forwards opacity-0">
    Connect
  </h1>
  <p
    class="mt-8 text-sm animate-fade-in animate-delay-700 animate-forwards opacity-0"
  >
    Reach me
    <Anchor href="https://x.com/StatmanAartt" external>@StatmanAartt </Anchor>
    or <Anchor href="mailto:me@eben.sh">me@eben.sh</Anchor>
  </p>
</section>
