---

---

<footer
  class="w-full border-t dark:border-neutral-800 fixed bottom-0 left-0 bg-stone-100 dark:bg-neutral-900 z-50"
>
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-5">
    <div class="hidden md:block md:col-span-1"></div>
    <div
      class="col-span-1 md:col-span-3 p-2 w-full flex justify-between items-center text-sm text-secondary"
    >
      <p>ᡸ All limits are self imposed</p>

      <div class="flex gap-2 items-center">
        <a
          href="https://github.com/ebarthur"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="i-lucide-github text-secondary"></div>
        </a>2025
      </div>
    </div>
  </div>
</footer>
