---
import Anchor from "./Anchor.astro";
---

<section class="animate-fade-in animate-forwards opacity-0">
  <h1 class="animate-fade-in animate-delay-50 animate-forwards opacity-0">
    Ebenezer Arthur
  </h1>
  <p
    class="mt-4 md:mt-6 text-sm text-secondary animate-fade-in animate-delay-100 animate-forwards opacity-0"
  >
    I mess around with web tech, chasing interesting problems and making stuff
    that catches my eye. If it's fun or useful, I'm probably
    <span class="italic">building</span> it.
  </p>
  <p
    class="mt-4 text-sm text-secondary animate-fade-in animate-delay-150 animate-forwards opacity-0"
  >
    Hoping to make a mark in my community, I'm drawn to
    <Anchor
      href="https://en.wikipedia.org/wiki/Free_and_open-source_software"
      external
    >
      FOSS
    </Anchor>
    and enjoy exploring new directions in tech.
  </p>
</section>
