---
import Anchor from "./Anchor.astro";
---

<section
  class="mt-8 animate-fade-in animate-delay-300 animate-forwards opacity-0"
>
  <h1 class="animate-fade-in animate-delay-350 animate-forwards opacity-0">
    Now
  </h1>
  <p
    class="text-sm mt-8 animate-fade-in animate-delay-400 animate-forwards opacity-0"
  >
    I build <Anchor href="https://adeton.io" external>Adeton </Anchor> with a small,
    brilliant team. We help merchants, regardless of technical skill, create their
    own websites, giving their customers a seamless online ordering experience.
  </p>

  <p
    class="text-sm text-secondary mt-4 animate-fade-in animate-delay-450 animate-forwards opacity-0"
  >
    If I'm not behind my desk, I'm probably taking a stroll or playing <span
      class="italic">Sudoku</span
    >. I'm part of the 1% who've never seen an episode of GOT, and I'm always on
    the lookout for clever design wherever I go.
  </p>
  <p
    class="text-sm mt-4 animate-fade-in animate-delay-500 animate-forwards opacity-0"
  >
    Heavily inspired by a few people, and by the idea that <span class="italic"
      >everything</span
    >
    around me is someone's dedicated work, I give my all when working on things I
    love.
  </p>
  <p
    class="text-sm text-secondary mt-4 animate-fade-in animate-delay-550 animate-forwards opacity-0"
  >
    <span class="italic">Go hard</span> or go home is the new mantra, so I choose
    to go hard, every time.
  </p>
</section>
