---
import Anchor from "./Anchor.astro";

type Props = {
  href: string;
};

const { href } = Astro.props;
---

<section class="col-span-1 flex items-start md:sticky top-34 h-fit">
  <Anchor
    href={href}
    class="!no-underline flex items-center text-lg gap-2 italic"
  >
    <slot />
  </Anchor>
</section>
